.container-banner {
    width: 100%;
}

.banner {
    height: 192px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 16px;

    background-color: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%);
    background-image: url("../../images/small/home/banner.png");
    background-position: center;
    background-size: cover;
}

.banner_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.banner_title {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: var(--cor-secundaria);
    margin-bottom: 8px;
}

.banner_description {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: var(--cor-secundaria);
    margin-bottom: 8px;
}

.banner_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 119px;
    height: 40px;
    padding: 12px 16px;
    background: var(--cor-primaria);
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: var(--cor-secundaria);
    text-decoration: none;
}