.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-azul10);
    padding: 16px;
}

.footer_contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_contents__top {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 16px 16px;
}

.footer_contents__top___logo,
.footer_contents__top___logo____text {
    display: flex;
    direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.footer_contents__top___logo____text_____alura {
    color: var(--cor-primaria);
}

.footer_contents__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

.footer_contents__top___links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    text-decoration: none;
}

.footer_contents__top___links____link {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-decoration: none;
    color: var(--cor-preto-titulo);
    margin-top: 16px;
}

.footer_contents_contacts {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0px;
    align-self: stretch;
    margin-top: 16px;
}

.footer_contacts__form_title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: var(--cor-titulo-preto);
}


.footer_contacts__input-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    background: var(--cor-branco);
    font-weight: var(--fonte-peso-input);
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 7px;
}


.footer_contacts__input {
    box-sizing: border-box;
    border-radius: 7px;
    width: 100%;
    padding: 1.3rem 0.5rem 0.5rem;
    height: 3.25rem;
}

.footer_contacts__input::placeholder {
    visibility: hidden;
    color: var(--cor-terciaria);
}

.footer_contacts__input:focus {
    outline: none;
}


.footer_contacts__input-label {
    position: absolute;
    top: 1rem;
    left: 0.5rem;
    font-size: var(--fonte-tamanho-input-label);
    transition: all .25s;
}

.footer_contacts__input:not(:placeholder-shown)+.footer_contacts__input-label,
.footer_contacts__input:focus+.footer_contacts__input-label {
    font-size: 0.7rem;
    top: 0.25rem;
    transition: all .25s;
}

.footer_contacts__input-container--invalido {
    margin-bottom: 0.5rem;
}

.footer_contacts__input-container--invalido .footer_contacts__input {
    border: 1px solid var(--cor-aviso);
    border-radius: 7px;
}

.footer_contacts__input-container--invalido .footer_contacts__input-label {
    color: var(--cor-aviso);
}

.footer_contacts__input-mensagem-erro {
    display: none;
}

.footer_contacts__input-container--invalido .footer_contacts__input-mensagem-erro {
    color: var(--cor-aviso);
    display: block;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}