.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top_logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.top_logo__joystick {
    width: 22px;
    height: 16px;
}

.top_logo__text {
    display: flex;
    justify-content: flex-start;
}

.top_logo__text___alura,
.top_logo__text___geek {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
}

.top_logo__text___alura {
    color: var(--cor-primaria);
}

.top_logo__text___geek {
    color: var(--cor-titulo-preto);
}

.top_search-bar {
    display: none;
    background: var(--cor-secundaria);
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    width: 272px;
    height: 40px;
    border-radius: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}


i {
    font-family: FontAwesome;
    margin: 0 auto;
    font-size: 5rem;
    font-style: normal;
}

.fa {
    top: 13px;
    right: 1rem;
}

.top_login {
    /* text-decoration: none; */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;

    position: static;
    width: 133px;
    height: 40px;
    left: 151.5px;
    top: 16px;

    border: 1px solid var(--cor-primaria);
    box-sizing: border-box;

    font-weight: 600;
    font-size: 14px;
    line-height: 16px;

    color: var(--cor-primaria);
    background-color: var(--cor-branco)
}

.top_spyglass {
    width: 17px;
    height: 17px;
}

@media screen and (min-width: 360px) {
    .top_search-bar {
        display: flex;
    }

}