.products_line {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-line_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.product-line_top__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: var(--cor-titulo-preto);
}

.product-line_top__button {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    background-color: var(--cor-branco);
    color: var(--cor-primaria);
}


.product-line_top__button___arrow {
    font-family: 'Fira Code', monospace;
}

.product-line_products {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    margin-top: 16px;
}


.product-line_products__product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

.product-line_products__product___image {
    width: 156px;
    height: 174px;
}

.product-line_products__product___title {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--cor-terciaria);
    margin-top: 8px;
}

.product-line_products__product___price {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: var(--cor-terciaria);
    margin-top: 8px;
}

.product-line_products__product___link {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: var(--cor-primaria);
    text-decoration: none;
    margin-top: 8px;
}