.container-starwars {
    width: 100%;
}

.starwars {
    padding: 16px;
}

.starwars_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.starwars_top__logo {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: var(--cor-titulo-preto);
}

.starwars_top_button {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    background-color: var(--cor-branco);
    color: var(--cor-primaria);
}


.starwars_top_button_arrow {
    font-family: 'Fira Code', monospace;
}