:root {
    --fonte-familia-principal: "Raleway", sans-serif;

    --largura-mobile: 360px;

    --cor-primaria: #2a7ae4;
    --cor-secundaria: #f5f5f5;
    --cor-terciaria: #000000;
    --cor-titulo-preto: #464646;
    --cor-branco: #ffffff;

    --cor-destacado-item: rgb(212, 228, 250);
    --cor-sucesso: #047900;
    --cor-aviso: #df2525;
}

body {
    width: var(--largura-mobile);
    max-width: var(--largura-mobile);
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    margin: 0 auto;
    background-color: var(--cor-branco);
}