:root {
    --fonte-familia-principal: "Raleway", sans-serif;

    --largura-mobile: 360px;
    --largura-tablet: 768px;
    --largura-desktop: 1440px;

    --cor-primaria: #2A7AE4;
    --cor-secundaria: #F5F5F5;
    --cor-terciaria: #000000;
    --cor-titulo-preto: #464646;
    --cor-branco: #FFFFFF;
    --cor-azul10: #EAF2FD;

    --cor-destacado-item: rgb(212, 228, 250);
    --cor-sucesso: #047900;
    --cor-aviso: #DF2525;

    --cor-transparencia: #4d4d4d33;
    --sombra: 0 5px 10px #55a6ff38;



    --fonte-peso-input: 400;

    --fonte-tamanho-logo: 28px;
    --fonte-tamanho-cartao-titulo: 28px;
    --fonte-tamanho-input-label: 16px;
    --fonte-tamanho-botao: 22px;
    --fonte-tamanho-formulario-fieldset: 22px;
    --fonte-tamanho-tabela-cabecalho: 22px;
    --fonte-tamanho-modal-titulo: 28px;
    --fonte-tamanho-modal-botao: 28px;

}

body {
    width: var(--largura-mobile);
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    margin: 0 auto;
    background-color: var(--cor-branco);
}

textarea,
input,
select {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.container {
    padding: 16px;
}

@media screen and (min-width: 360px) {
    body {
        width: var(--largura-tablet);
    }
}