.textarea {
    box-sizing: border-box;
    width: 100%;
    border-radius: 7px;
    padding: 1.3rem 0.5rem 0.5rem;
    resize: none;
}

.textarea-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    background: var(--cor-branco);
    font-weight: var(--fonte-peso-input);
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 7px;
}

.textarea::placeholder {
    visibility: hidden;
}

.textarea:focus {
    outline: none;
}

.textarea-label {
    position: absolute;
    top: 1em;
    left: 0.5rem;
    font-size: var(--fonte-tamanho-input-label);
    transition: all 0.25s;
}

.textarea:not(:placeholder-shown)+.textarea-label,
.textarea:focus+.textarea-label {
    font-size: 0.7rem;
    top: 0.25rem;
    transition: all .25s;
}

.textarea-container--invalido {
    margin-bottom: 0.5rem;
}

.textarea-container--invalido .textarea {
    border: 1px solid var(--cor-aviso);
}

.textarea-container--invalido .textarea-label {
    color: var(--cor-aviso);
}

.textarea-mensagem-erro {
    display: none;
}

.textarea-container--invalido .textarea-mensagem-erro {
    display: block;
    color: var(--cor-aviso);
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}

.footer_contents__contents___btn-submit button {
    border: 1px solid var(--cor-primaria);
    background-color: var(--cor-primaria);
    text-decoration: none;
    display: inline-block;
    color: var(--cor-secundaria);
    padding: 1rem;
    font-weight: 500;
    font-size: 1rem;
}

.copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 32px;
    background-color: var(--cor-branco);

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}